/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #aaaaaa;
}

#style {
  position: fixed;
  background-color: rgb(110, 107, 122);
  left: 0;
  right: 0;
  top: 0;
  height: 0px;
  padding-top: 0px;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4b4748; /* Nav bar background */
  width: 124px; /* Made this 124px as the side padding multiplied by 2, plus the width of text(92)*/
}

#style li {
  float: none; /* Default list goes from top to bottom*/
}

#style li a:hover {
  background-color: rgb(0, 0, 0); /* Link hover background color */
}

#style li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 8px 16px; /*this adds some spacing around the items in our style footer*/
  text-decoration: none;
  width: 92px;
  font-family: Verdana; /* Changed from monospace font*/
  font-weight: bold; /* makes the text bold*/
}
