/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
  padding: 30px;
  background-color: #d9ffe8;
}

#style {
  position: fixed;
  background-color: rgb(110, 107, 122);
  left: 0;
  right: 0;
  top: 0;
  height: 0px;
  padding-top: 0px;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9fb9a5; /* Nav bar background */
}

#style li {
  float: left;
  border-right: 1px solid black; /* Puts a border inbetween each style link */
}

#style li a:hover {
  background-color: rgba(65, 255, 55, 0.9); /* Link hover background color */
}

#style li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our style footer*/
  text-decoration: none;
}

#main-title{
  color: #00137a;
  font-family: monospace;
  text-align: center;
  font-size: 4rem;
}

.section {
  border-radius: 10px;
  padding: 20px;
  border: 5px solid;
  margin: 25px;
  max-width: 870px;
  margin-left: auto; /* this makes the width work*/
  margin-right: auto; /* this makes the width work*/
  width: 75%; /* Makes the sections fill 75% of the width of the screen */
}

#courses {
  background-color: rgba(0, 145, 255, 0.22);
}

#pslo {
  background-color: rgba(0, 214, 195, 0.26);

}

#faculty {
  background-color: rgba(43, 0, 249, 0.12);
  text-align: center;
}

#faculty>ul>li {
  display: block;
  font-family: sans-serif;
  padding: 10px;
  width: 25%; /* Have the image cards cover 25% of the faculty section's width*/
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Makes polaroid images */
  text-align: center;
}

#faculty-list {
  padding-left: 0
}

img.pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 75%; /* Sets image sizes to fit the cards more nicely rather than a fixed size */
  margin: auto;
}

img:hover {
  box-shadow: 0 0 2px 1px rgb(21, 87, 36); /* Makes a useless green glowing border when mouse hovers */
}


